<div>
  <h1>New password</h1>
  <form id="newPassForm">

    <label>New password</label>
    <input name="password" />
    <br />
    <br />
    <label>Confirm new password</label>
    <input name="password2" />
    <br />
    <br />
    <input type="submit" />
  </form>
</div>
<script src="/js/newPass.js"></script>