<div>
  <h1>Reset password</h1>
  <form id="resetPassForm">
    <label>Email</label>
    <input name="email" />
    <br />
    <br />
    <input type="submit" />
  </form>
</div>
<script src="/js/resetPass.js"></script>